<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Login</title>
</head>
<body>
    <h2>Login</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li style="color: red;">{{ message }}</li>  <!-- Customize style as needed -->
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <form method="POST">
        <input type="text" name="votername" placeholder="Voter Name" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/">Sign up here</a>.</p>
  

</body>
</html>
